
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #d7d0cc;
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: rgb(50, 59, 46);
}

nav a {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    padding: 35px;
}

nav a:hover, .join:hover {
    background-color: rgb(135, 162, 123);
}

.home-title {
    color: black;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    color: #525252;
    text-decoration: none;
    text-align: center;
    background-color: #c9bba1;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: rgb(185, 185, 185);
    background-color: #6a5e4b;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

#background {
    height: 725px;
    background-color: rgb(218, 200, 171);
}

.msg {
    background-color: rgb(63, 74, 59);
    color: whitesmoke;
    padding: 35px;
}

.msg p {
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: .8em;
    line-height: 1.53em;
    padding-bottom: 15px;
}

footer {
    background-color: rgb(63, 74, 59);
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover {
    background-color: rgb(83, 97, 78)
}

.logo {
    width: 80px;
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}