body{
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

#content{
    max-width: 500px;
    margin: 0 auto;
}

p {
    text-align: center;
}

img{
    width: 30%;
    display: block;
    margin: 0 auto;

}

h2{
    text-align: center;
}